{% extends "base_autenticado.html" %}
{% load static %}

{% block 'head' %}
    <title>Meu Perfil</title>
{% endblock %}

{% block 'dashboard' %}

{% if mensagem_erro %}
        <br>
        <br>
        <br>
        <div class="alert alert-danger" role="alert">
            {{mensagem_erro}}
        </div>
{% endif %}

<div class="container mt-5">
    <div class="row">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">Nome: {{nome}}</li>
                        <li class="list-group-item">Data de Nascimeto: {{data_nascimento}}</li>
                        <li class="list-group-item">Idade: {{idade}} anos</li>
                        <li class="list-group-item">CPF: {{cpf}}</li>
                        <li class="list-group-item">Apto: {%if apto %}Sim{% else %}Não{% endif %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
