{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <title>Página Inicial</title>
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br>
            <br>
            <br>
            <h2 class="text-center mb-4">Sistema de Agendamento</h2>
            
            <div class="text-center">
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mr-2" id="btnEntrar">Entrar</a>
                <a href="{% url 'candidatos' %}" class="btn btn-success btn-lg" id="btnCadastrar">Cadastre-se</a>
            </div>
        
    </div>
</div>
{% endblock %}